/* letter spacing */
.ls-1 {
  letter-spacing: 0.05em;
}
.ls-2 {
  letter-spacing: 0.1em;
}
.ls-3 {
  letter-spacing: 0.15em;
}

/* font weight */
.fw-sm {
  font-weight: 500 !important;
}
.fw-md {
  font-weight: 600 !important;
}
.fw-bold {
  font-weight: 700 !important;
}

/* text */
.text-secondary {
  color: rgb(var(--dark), 0.6) !important;
}

/* background */
.bg-glass {
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(10px) !important;
}
/* flex */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
/* height */
.vh-min-100 {
  min-height: 100vh;
}
/* aspect ration */
.as-1 {
  aspect-ratio: 1;
}
.as-10 {
  aspect-ratio: 10/2;
}
/* outlined img */
.outlineed-img {
  outline: 2px solid rgba(var(--dark), 0.2);
  outline-offset: 3px;
}
/* color */
.text-blue {
  color: rgb(var(--blue));
}
/* hoverBlueOutline */
.hoverBlueOutline {
  outline-offset: 3px;
  outline: 2px solid rgba(var(--blue), 0.1);
  transition: all 0.2s;
}
.hoverBlueOutline:hover {
  outline: 3px solid rgb(var(--blue));
  outline-offset: 5px;
}
/* form */
.input-outlined {
  outline: 1px solid rgba(var(--blue), 0.2);
  outline-offset: 1px;
  transition: all 0.2s;
}
.input-outlined:hover {
  outline: 1px solid rgba(var(--blue), 0.4);
  outline-offset: 2px;
}
.input-outlined:focus {
  box-shadow: none !important;
  outline: 2px solid rgb(var(--blue));
  outline-offset: 3px;
}
.input-outlined:active {
  box-shadow: none !important;
}
/* cursor */
.c-pointer {
  cursor: pointer;
}
