.my-btn {
  border: none;
  outline: none;
  outline-offset: 2px;
  background: rgb(var(--dark));
  color: rgb(var(--white));
  transition: all 0.2s;
}
.my-btn:hover {
  border: none;
  outline: none;
}
.my-btn:focus:hover {
  outline: 2px solid rgb(var(--dark));
}
#buttonB {
  background: linear-gradient(180deg, #3a3a3a 0%, #212122 50.52%, #282828 100%);
  border: none;
}
#buttonB:focus {
  outline: 2px solid rgb(var(--white), 0.2);
}
#button3D {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, #000000 100%);
  box-shadow: 0px 6px 0px #000000;
  color: white;
  border-radius: 5px;
}
#button3D.active {
  box-shadow: 0px 3px 0px #000000 !important;
}
