.my-btn {
  border: none;
  outline: none;
  outline-offset: 2px;
  background: rgb(var(--dark));
  color: rgb(var(--white));
  transition: all 0.2s;
}
.my-btn:hover {
  border: none;
  outline: none;
}
.my-btn:focus:hover {
  outline: 2px solid rgb(var(--dark));
}
#buttonB {
  background: linear-gradient(180deg, #3a3a3a 0%, #212122 50.52%, #282828 100%);
  border: none;
}
#buttonB:focus {
  outline: 2px solid rgb(var(--white), 0.2);
}
#buttonC {
  background: linear-gradient(85.23deg, #a259ff 0%, #b276ff 100%) !important;
  color: white;
  letter-spacing: 00.05em !important;
}
#buttonC:focus:hover {
  outline: 2px solid #b276ff;
  outline-offset: 2px;
}
/* ---- */
/* btn */
.btn-red {
  background: linear-gradient(45deg, #ff004c, #ff1b67);
  color: white;
  outline-offset: 1px;
}
.btn-red:hover {
  outline: 2px solid #ffffff;
}
